/***
  CSS for Artist Details
***/

.artist-details-outer{
    clear: both;
    text-align: center;
    font-size: 0.8em;
    padding:10%
}

.artist-image{
    width:70%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.artist-name{
    margin-top:10px;
    font-weight: bold;
}

.artist-description{
    padding: 5px;
}

.artist-bornOn{
    color: #888888;
}