.ArtistDropDown-container{
    margin: 0 30px 0 16px
}

.ArtistDropDown-container > div:first-child{
    float: left;
    width: 80%;
}

.showProgress{
    display: inline-block;
    width: 30px;
}

.hideProgress{
    display: none;
}