.listitem-thumbnail{
    width:100%;
    height:auto;
    float:left;
    margin-right:10px;
}

a.listitem{
    min-height:120px;
    font-size: 0.8em !important;
    padding:2%;
    margin: 4% 0;
    transition: all .2s ease-in-out;
}

/* grow on hover effect */
a.listitem:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23)
}

.listitem div div{
    padding:0px !important;
}


/* Responsive css for listitem */
@media only screen
and (min-width: 300px) and (max-width: 900px) {
    .listitem{
        margin:0;
    }

    .listitem-thumbnail{
        width:150px;
    }

}
