/***
    General CSS for the Application
***/
body{
    margin:0;
    padding:0;
    border:0;
    font-family: Roboto, sans-serif;
    background: #EFEEE9;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.title-bar{
    position: fixed;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 10000;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.title-bar .title-logo{
    background: #4101AF;
    width: 10%;
    padding: 1.5%;
    font-weight: bold;
    display: inline-block;
}

.title-bar .app-name{
    color: #FFFFFF;
}

ul.menu{
    display: inline;
    padding: 0;
}

ul.menu li{
    list-style: none;
    display: inline;
    padding: 0 20px;
    border-right: 1px solid #CDCDCD;
}
