.video-title{
    padding-left: 5px;
}

.video-description{
    font-size: 0.8em;
    padding: 5px;
}

.video-date{
    color: #888888;
    font-size: 0.8em;
    padding-left: 5px;
    margin-top:-10px;
}